mujoco==3.3.6
gym==0.25.2
tensorboard>=2.19.0
tensorboardX>=2.6
matplotlib
ipython>=7.34.0
moviepy==1.0.3
pyvirtualdisplay==3.0
torch>=2.2.0
opencv-python==4.6.0.66
ipdb==0.13.9
swig==4.0.2
box2d-py==2.3.8
protobuf>=3.20.3,<6.0.0
grpcio>=1.49.1,<1.67
numpy<2.0
